# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# NPM packages folder.
node_modules/

# Temporary files.
tmp/

# Parcel output folder.
public/
dist/

package-lock.json

# Bower stuff.
bower_components/
*.zip
*.msi
*.apk
