.home {}

  .home__images-container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100 * $ptr;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

    .home__image {
      position: relative;
      border-radius: 50%;
      border: 2px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      margin: 10px;
      cursor: pointer;

      &.disabled{
        &:before {
          content: '';
          width: 2px;
          background-color: white;
          height: 100%;
          position: absolute;
          transform: rotate(45deg);
        }
      }

      img {
        width: 40px;
        height: 40px;
        object-fit: contain;
      }

      &--device-rotation {
        img {
          width: 50px;
          height: 50px;
        }

        padding: 15px;
      }
    }
