.home {
  place-items: center;
}

  .home__button {
    background-color: lightblue;
    color: black;
    padding: 20 * $ptr;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 1;
    }
  }
