// Developed by OHZI Interactive | https://ohzi.io
doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

    include views/common/meta

    title OHZI Interactive

    link(rel="icon", type="image/png", href="assets/images/common/favicon.png")
    link(href='css/application.scss', rel="stylesheet")

    include views/common/conversions

  body#body
    include views/common/author
    include views/loader/loader

    .container 
      .canvas-container
        canvas.main-canvas

      include views/home/home

      .reusable-elements

    script(src='init.js')
    //- script(src="libs/ui_datgui.js")
