.loader {
    top: 0;
    z-index: 999;
    background-color: $background-color;
    place-items: center;
    opacity: 1;
    transition: opacity 1s;

    &.hidden {
        display: block;
        pointer-events: none;
        opacity: 0;
    }
}

    .loader__group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .loader__animation {
            display: flex;
            width: 300px;

            * path {
                stroke: #ffffff;
            }
        }

        .loader__progress-bar {
            width: 60%;
            max-width: 300px;
            background: #909090;
            border-radius: 6px;
            overflow: hidden;
            position: relative;
            will-change: transform;
        }

            .loader__progress-bar-fill {
                position: relative;
                left: -100%;
                width: 100%;
                height: 8px;
                background-color: $primary-color;
                border-radius: 20px;
                transform-origin: left;
                will-change: transform;
            }
