.loader {
    top: 0;
    z-index: 999;
    background-color: $background-color;
    place-items: center;
    opacity: 1;
}

    .loader__background {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 700 * $ptr;

        z-index: -1;
    }

    .loader__group {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
        transition: opacity 1s;

        &.hidden {
            display: flex;
            pointer-events: none;
            opacity: 0;
        }
    }

        .loader__animation {
            display: flex;
            width: 300 * $ptr;

            * path {
                stroke: #ffffff;
            }
        }

        .loader__progress-bar, .transition__progress-bar {
            width: 60%;
            max-width: 300 * $ptr;
            background: #909090;
            border-radius: 6 * $ptr;
            overflow: hidden;
            position: relative;
            will-change: transform;
        }

            .loader__progress-bar-fill, .transition__progress-bar-fill {
                position: relative;
                left: -100%;
                width: 100%;
                height: 8 * $ptr;
                background-color: $primary-color;
                border-radius: 20 * $ptr;
                transform-origin: left;
                will-change: transform;
            }
