.loader, .transition {
    place-items: center;

    top: 0;
    z-index: 999;

    background-color: $background-color;
    opacity: 1;
}

    .loader__background {
        position: absolute;
        top: 0;
        z-index: -1;

        width: 100%;
        height: 100%;
        min-height: 700 * $ptr;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;
    }

    .loader__group, .transition__group {
        display: flex;

        flex-direction: column;

        align-items: center;
        opacity: 1;
        transition: opacity 1s;

        &.hidden {
            display: flex;
            pointer-events: none;
            opacity: 0;
        }
    }

        .loader__animation, .transition__animation {
            display: flex;

            width: 300 * $ptr;

            * path {
                stroke: #fff;
            }
        }

        .loader__progress-bar, .transition__progress-bar {
            position: relative;

            width: 60%;
            max-width: 300 * $ptr;

            background: #909090;

            border-radius: 6 * $ptr;
            overflow: hidden;
            will-change: transform;
        }

            .loader__progress-bar-fill, .transition__progress-bar-fill {
                position: relative;
                left: -100%;

                width: 100%;
                height: 8 * $ptr;

                background-color: $primary-color;

                border-radius: 20 * $ptr;
                transform-origin: left;
                will-change: transform;
            }
