.transition {
    place-items: center;

    top: 0;
    z-index: 2;

    background-color: $black;
    opacity: 0;
}

    .transition__group {
        display: flex;

        flex-direction: column;

        align-items: center;
        opacity: 1;
        transition: opacity 1s;

        &.hidden {
            display: flex;
            pointer-events: none;
            opacity: 0;
        }
    }

        .transition__animation {
            display: flex;

            width: 300 * $ptr;

            * path {
                stroke: #fff;
            }
        }

        .transition__progress-bar {
            position: relative;

            width: 60%;
            max-width: 300 * $ptr;

            background: #909090;

            border-radius: 6 * $ptr;
            overflow: hidden;
            will-change: transform;
        }

            .transition__progress-bar-fill {
                position: relative;
                left: -100%;

                width: 100%;
                height: 12 * $ptr;

                background-color: $white;

                border-radius: 20 * $ptr;
                transform-origin: left;
                will-change: transform;

                transform: translate3d(20%, 0, 0);
            }
