
$primary-color: #fff !default;
$background-color: #111 !default;
$placeholder-color: #949494 !default;
$gray: #373737 !default;
$dark-gray: #282828 !default;
$light-blue: #1292e8 !default;
$white: #fff !default;
$black: #000 !default;
