// Small Devices Portrait
$small-breakpoint: 370px;

// Small Devices Landscape
$small-wide-breakpoint: 568px;

// Big Devices Portrait
$medium-breakpoint: 820px;

// Big Devices Landscape
$wide-breakpoint: 960px;

// Desktop Devices
$wide-1300-breakpoint: 1366px;
$wide-1600-breakpoint: 1600px;
$wide-1700-breakpoint: 1700px;
$wide-1800-breakpoint: 1800px;
$wide-1900-breakpoint: 1920px;
$wide-2000-breakpoint: 2000px;
$wide-2500-breakpoint: 2560px;
$wide-3500-breakpoint: 3500px;
$ultra-small-height-breakpoint: 200px;
$small-height-breakpoint: 450px;
$medium-height-breakpoint: 530px;
$high-height-breakpoint: 600px;
$ultra-high-height-breakpoint: 660px;

// Pixel to rem
$ptr: 0.0625rem;

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 16px;

    text-size-adjust: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;

    @include respond-to($wide-1300-breakpoint) {
        font-size: 15px;
    }

    @include respond-to($wide-1600-breakpoint) {
        font-size: 17px;
    }

    @include respond-to($wide-1800-breakpoint) {
        font-size: 19px;
    }

    @include respond-to($wide-2000-breakpoint) {
        font-size:22px;
    }

    @include respond-to($wide-2500-breakpoint) {
        font-size: 28px;
    }

    @include respond-to($wide-3500-breakpoint) {
        font-size: 40px;
    }

    @include respond-to-vertical($ultra-small-height-breakpoint) {
        font-size: 9px;
    }

    @include respond-to-vertical($small-height-breakpoint) {
        font-size: 11px;
    }

    @include respond-to-vertical($medium-height-breakpoint) {
        font-size: 13px;
    }

    @include respond-to-vertical($high-height-breakpoint) {
        font-size: 14px;
    }

    @include respond-to-vertical($ultra-high-height-breakpoint) {
        font-size: 16px;
    }
}

html,
body {
    margin: 0;

    width: 100%;
    height: 100vh;

    touch-action: pan-x pan-y;
}

body {
    display: flex;

    flex-direction: column;

    // position: fixed;
    margin: 0;

    color: $white;

    // font-family: $montserrat-font;
    font-family: Arial;

    background-color: $black;
    overflow: hidden;
}

a {
    color: $white;

    text-decoration: none;
}

img {
    @include user-select('none');
    @include user-drag('none');
}

h1.seo__title, h2.seo__subtitle {
    @include user-select('none');

    position: absolute;
    opacity: 0;
    pointer-events: none;
}

div.hidden, img.hidden, canvas.hidden {
    display: none;
    pointer-events: none;
}

div.before_enter {
    // pointer-events: none;
}

div.before_exit {
    pointer-events: none;
}

.reusable-elements {
    display: none;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #707070;
}

::placeholder { /* Firefox, Chrome, Opera */
    color: $dark-gray;
}
