$small-breakpoint:      370px;
$small-wide-breakpoint: 415px;
$medium-breakpoint:     820px;
$wide-breakpoint:       960px;
$ultra-wide-breakpoint: 1366px;

// Pixel to rem
$ptr: 0.0625rem;

@mixin respond-to($breakpoint) {
    @media screen and (min-width: $breakpoint), print {
        @content;
    }
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;

    position: fixed;
    touch-action: pan-x pan-y;
}

body {
    display: flex;
    // position: fixed;
    margin: 0;
    color: $primary-color;
    // font-family: $sf-font;
    font-family: 'Arial';
    font-weight: bold;
    flex-direction: column;
    overflow: hidden;
}

a {
    color: $primary-color;
    text-decoration: none;
}

div.hidden {
    display: none;
    pointer-events: none;
}

div.before_enter {
    pointer-events: none;
}

div.before_exit {
    pointer-events: none;
}

.reusable-elements {
    display: none;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #707070;
}

::placeholder { /* Firefox, Chrome, Opera */
    color: $placeholder-color;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $placeholder-color;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $placeholder-color;
}
