meta(name="title", content= sections_meta[0].title)
meta(name="description", content=sections_meta[0].description)
link(rel="canonical", href= sections_meta[0].url)

meta(property="og:locale", content= "en_US")
meta(property="og:type", content= "website")
meta(property="og:title", content= sections_meta[0].title)
meta(property="og:description", content=sections_meta[0].description)
meta(property="og:url", content= sections_meta[0].url)
meta(property="og:site_name", content= sections_meta[0].title)
meta(property="og:image", content= sections_meta[0].image_url)
meta(property="og:image:secure_url", content= sections_meta[0].image_url)

meta(property="twitter:card", content= "summary_large_image")
meta(property="twitter:description", content= sections_meta[0].description)
meta(property="twitter:title", content= sections_meta[0].title)
meta(property="twitter:image", content= sections_meta[0].image_url)
meta(property="twitter:url", content= sections_meta.url)

meta(name="theme-color", content= "#000000")
